<div class="flex w-full px-4 py-6">
  <div
    class="max-w-xs bg-white hover:shadow-xl shadow-md transition-all duration-150 rounded-lg overflow-hidden my-4 border border-gray-200"
  >
    <img
      class="w-full h-56 object-cover object-center"
      [src]="avatar"
      alt="avatar"
    />
    <div class="flex items-center px-6 py-3 bg-gray-900">
      <span class="material-icons text-white">account_circle</span>
      <h1 class="mx-3 text-white font-semibold text-lg">{{ owner }}</h1>
    </div>
    <div class="py-4 px-6">
      <h1 class="text-2xl font-semibold text-gray-800">
        <a [href]="url" target="_blank">
          {{ name }}
        </a>
      </h1>
      <p class="py-2 text-sm text-gray-700">
        <span *ngIf="!showLongDescription">
          {{ showLongDescription | json }}
          {{ description | slice: 0:100 }}
        </span>
        <span *ngIf="showLongDescription"> {{ description }} - </span>
        <a class="text-blue-500 cursor-pointer" (click)="toggleDescription()">
          <span *ngIf="!showLongDescription">more...</span>
          <span *ngIf="showLongDescription">less</span>
        </a>
      </p>
      <div class="flex felx-row mt-4">
        <div class="flex text-gray-700">
          <span class="material-icons text-yellow-500">star_rate</span>
          <h1 class="px-2 text">
            Stars:
            <span class="font-bold text-purple-700">{{ stars }}</span>
          </h1>
        </div>

        <div class="flex pl-2 text-gray-700">
          <span class="material-icons text-gray-700">adjust</span>
          <h1 class="px-2 text">
            Issues:
            <span class="font-bold text-red-800">{{ issues }}</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
