<div class="flex w-full px-4 py-6">
  <div
    class="
      max-w-xs
      bg-white
      hover:shadow-xl
      shadow-md
      transition-all
      duration-150
      rounded-lg
      overflow-hidden
      my-4
      border border-gray-200
    "
  >
    <img
      class="w-full h-56 object-cover object-center"
      src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
      alt="avatar"
    />
    <div class="flex items-center px-6 py-3 bg-gray-900">
      <span class="material-icons text-white">account_circle</span>
      <h1 class="mx-3 text-white font-semibold text-lg">username</h1>
    </div>
    <div class="py-4 px-6">
      <h1 class="text-2xl font-semibold text-gray-800">Repository name</h1>
      <p class="py-2 text-lg text-gray-700">
        Full Stack maker & UI / UX Designer , love hip hop music Author of
        Building UI.
      </p>
      <div class="flex items-center mt-4 text-gray-700">
        <span class="material-icons text-black">star_rate</span>
        <h1 class="px-2 text">
          Stars:
          <span class="font-bold text-purple-700">234K</span>
        </h1>
      </div>

      <div class="flex items-center mt-4 text-gray-700">
        <span class="material-icons text-black">adjust</span>
        <h1 class="px-2 text-sm">
          Issues:
          <span class="font-bold text-red-800">234K</span>
        </h1>
      </div>
    </div>
  </div>
</div>
