<div *ngIf="loading">Loading...</div>
<ul>
  <li *ngFor="let language of languages">
    <div class="card">
      <h1>
        <a [routerLink]="'details/' + language.title">{{ language.title }}</a>
      </h1>
      <button
        class="
          inline-flex
          items-center
          justify-center
          px-5
          py-2
          border border-transparent
          text-base
          font-medium
          rounded-md
          text-white
          bg-indigo-600
          hover:bg-indigo-700
        "
      >
        Popularity: <span>{{ language.popularity }}</span>
      </button>
      <button
        class="
          inline-flex
          items-center
          justify-center
          px-5
          py-2
          border border-transparent
          text-base
          font-medium
          rounded-md
          text-white
          bg-indigo-600
          hover:bg-grey-700
        "
      >
        Repositories: <span>{{ language.repositoryCount }}</span>
      </button>
    </div>
  </li>
</ul>
