<h1>
  {{ lang }}
  <button
    class="
      float-right
      inline-flex
      items-center
      rounded-xl
      border border-gray-300
      hover:bg-gray-300 hover:shadow-md hover:border-gray-500
      transition-all
      duration-150
      pl-2
      pr-3
      py-1
    "
  >
    <span class="material-icons mr-2 mt-1">arrow_back</span>
    <span>Back</span>
  </button>
</h1>

<div class="flex flex-col justify-center">
  <div class="grid grid-cols-4 gap-4">
    <git-card></git-card>
  </div>
  <button
    class="
      inline-flex
      items-center
      justify-center
      px-5
      py-2
      border border-transparent
      text-base
      font-medium
      rounded-md
      text-blue-800
      bg-blue-200
      hover:bg-blue-500 hover:text-white
      transition-all
      duration-150
    "
  >
    <div class="loader"></div>
    More
  </button>
</div>
